{% raw %}
<form name="myForm">
    <h3><label for="myForm">{{'title' | translate}}</label></h3>
    <section>
        <label for="myFileName">{{'file_name' | translate}}</label>
        <input style="margin: 8px;" type="text" id="myFileName" ng-model="fileName" placeholder="filename" />
        <i ng-style="myForm.myFileName.$valid ? {color:'#0645AD'} : {'color': 'red' }" ng-class="{'glyphicon glyphicon-ok-circle': myForm.myFileName.$valid, 'glyphicon glyphicon-remove-circle': myForm.myFileName.$invalid}"></i>
    </section>
    <section>
        <div style="display: inline-block;">
            <label>{{'type' | translate}}</label>
            <input type="radio" id="file_type_fixed" ng-model="length_type" value="Fixed" ng-init="length_type='Fixed'" /><label for="file_type_fixed">{{'fixed' | translate}}</label>
            <input type="radio" id="file_type_lenght" ng-model="length_type" value="Variable" ng-init="length_type='Fixed'" /><label for="file_type_lenght">{{'variable' | translate}}</label>
            <label for="separator" ng-show="length_type=='Variable'">{{'separator' | translate}} </label>
            <input type="text" id="separator" ng-model="separator" ng-required="length_type == 'Variable'" ng-show="length_type=='Variable'" />
            <span ng-show="length_type=='Variable'">
                <i ng-style="myForm.separator.$valid ? {color:'#0645AD'} : {'color': 'red' }" ng-class="{'glyphicon glyphicon-ok-circle': myForm.separator.$valid, 'glyphicon glyphicon-remove-circle': myForm.separator.$invalid}"></i>
            </span>
        </div>
    </section>
    <section>
        <div style="display: inline-block;">
            <label for="eol">{{'eol' | translate}}</label>
            <select ng-model="eol" ng-init="eol='Carriage Return (CR)'" id="eol">
                <option value="Carriage Return (CR)">[MAC OS] Carriage Return (CR)</option>
                <option value="Line Feed (LF)">[linux os] Line Feed (LF)</option>
                <option value="End of Line (EOL)">[Windows os] End of Line (EOL)</option>
                <option value="custom">{{'custom' | translate}}</option>
            </select>
            <label for="eol_custom" ng-show="eol=='custom'" ng-required="eol=='custom'">:</label>
            <input type="text" id="eol_custom" ng-model="eol_custom" ng-show="eol=='custom'" ng-required="eol=='custom'" />
            <span>
                <i ng-style="myForm.eol_custom.$valid ? {color:'#0645AD'} : {'color': 'red' }" ng-class="{'glyphicon glyphicon-ok-circle': myForm.eol_custom.$valid, 'glyphicon glyphicon-remove-circle': myForm.eol_custom.$invalid}"></i>
            </span>
        </div>
    </section>
    <section>
        <label for="nRows">{{'#records' | translate}}</label>
        <input style="margin: 8px;" type="number" id="nRows" ng-model="nRows" ng-init="nRows=100" min="1" required />
        <span>
            <i ng-style="myForm.nRows.$valid ? {color:'#0645AD'} : {'color': 'red' }" ng-class="{'glyphicon glyphicon-ok-circle': myForm.nRows.$valid, 'glyphicon glyphicon-remove-circle': myForm.nRows.$invalid}"></i>
        </span>
    </section>
    <aside>
        <button ng-style="myForm.$valid ? {color:'#0645AD'} : {'color': 'red' }" type="submit" ng-click="generateFile()" ng-disabled="myForm.$invalid">{{'generate_file' | translate}}</button>
    </aside>
    <h3>{{'#attributes' | translate}}</h3>
    <section>
        <label for="nColumns">{{'#columns' | translate}}</label>
        <input type="number" id="nColumns" ng-model="nColumns" min="1" ng-change="add()" required />
        <span>
            <i ng-style="myForm.nColumns.$valid ? {color:'#0645AD'} : {'color': 'red' }" ng-class="{'glyphicon glyphicon-ok-circle': myForm.nColumns.$valid, 'glyphicon glyphicon-remove-circle': myForm.nColumns.$invalid}"></i>
        </span>
    </section>
    <section>
        <table id="table_conf" style="margin-left: 1%; margin-top: 1%;">
            <tr>
                <th>#</th>
                <th style="min-width: 70px;" class="center">
                    <input type="checkbox" ng-click="editAll()" id="editAll" ng-model="checked" /><label for="editAll">(<span class="glyphicon glyphicon-pencil"></span>)</label>
                </th>
                <th>Name</th>
                <th style="min-width: 100px;">Data type</th>
                <th>Length</th>
                <th style="min-width: 120px;">Alignment</th>
                <th style="min-width: 70px;" class="center"><a ng-click="addRow()" style="cursor: pointer;">add </a></th>
            </tr>
            <tr ng-repeat="record in records" class="item" style="cursor: move;">
                <td>{{$index+1}}</td>
                <td class="center"><input type="checkbox" ng-model="record.checked" ng-change="editSingle()" /></td>
                <td><input type="text" ng-model="record.name" ng-disabled="!record.checked" required /></td>
                <td class="center"><select ng-options="x for x in types" ng-model="record.type" ng-disabled="!record.checked" required></select></td>
                <td><input type="number" ng-model="record.max_length" ng-disabled="!record.checked" min="1" required /></td>
                <td>
                    <input type="radio" ng-model="record.alignment" ng-disabled="!record.checked" value="left" ng-required="!record.alignment" /><span class="glyphicon glyphicon-align-left"></span>
                    <input type="radio" ng-model="record.alignment" ng-disabled="!record.checked" value="right" ng-required="!record.alignment" /><span class="glyphicon glyphicon-align-right"></span>
                </td>
                <td class="center">
                    <a href="#!batch" ng-click="loadModal($index, records[$index].type, records[$index].max_length, records)">
                        <span class="glyphicon glyphicon-wrench"></span>
                    </a>
                    <a href="#!batch" ng-click="delete($index)" id="cancella">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
        </table>
    </section>
    <div>
        <div id="563040458">
    <script type="text/javascript">
        try {
            window._mNHandle.queue.push(function (){
                window._mNDetails.loadTag("563040458", "160x600", "563040458");
            });
        }
        catch (error) {}
    </script>
</div>
        <!-- <p id="output" ng-trim="false"> {{output}} </p> -->
    </div>
    <!-- Modal -->
    <div id="modalFormatHelper" class="modal fade"></div>
    <div id="modalInfo" class="modal fade text-left"></div>
    <div id="modalHelp" class="modal fade"></div>
    <!-- Modal end-->
</form>
{% endraw %}
