{% raw %}
<div>
	<div class="modal-header">
		<h3 class="modal-title">RANDOM text generator</h3>
	</div>
	<div class="modal-body">
		<ng-form name="myModalText">
			<table>
				<tr>
					<td>
						Fixed String:
					</td>
					<td>
						<input ng-trim="false" ng-model="fixedString" type="text"
							ng-disabled="prefixLen || counterLen || suffixLen" maxlength="{{max_length}}" />
					</td>
					<td>
						Length: {{fixedString ? fixedString.length:0}}
					</td>
				</tr>
				<tr>
					<td>
						Prefix:
					</td>
					<td>
						<input ng-model="prefixLen" type="text" ng-disabled="fixedString"
							maxlength="{{max_length-suffixLen.length-counterLen}}" />
					</td>
					<td>
						Length: {{prefixLen ? prefixLen.length:0}}
					</td>
				</tr>
				<tr>
					<td>
						Counter Length:
					</td>
					<td>
						<input ng-model="counterLen" type="number" ng-disabled="fixedString"
							max="{{max_length-prefixLen.length-suffixLen.length}}" ng-click="counter()" min="0" />Fill
						empty spaces with 0
						<input ng-model="fillZeroAct" type="checkbox" ng-disabled="fixedString || counterLen<2" />
					</td>
					<td>
						Length: {{counterLen}}
					</td>
				</tr>
				<tr>
					<td>
						Suffix:
					</td>
					<td>
						<input ng-model="suffixLen" type="text" ng-disabled="fixedString"
							maxlength="{{max_length-prefixLen.length-counterLen}}" />
					</td>
					<td>
						Length: {{suffixLen ? suffixLen.length:0}}
					</td>
				</tr>
			</table>
		</ng-form>
	</div>
	<div class="modal-footer">
		<span class="pull-left" ng-class="getColor()">
			Max Length: {{max_length}} | Usage: {{getUsage()}} | Remaining: {{getRemaining()}}
		</span>
		<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="apply()"
			ng-disabled="getRemaining() > max_length">
			Apply
		</button>
	</div>
</div>
{% endraw %}
