{% raw %}
<div>
	<div class="modal-header">
		<h3 class="modal-title">RANDOM number generator</h3>
	</div>
	<div class="modal-body">
		<div class="container" style="vertical-align: middle;">
			<ng-form name="myModalNumber">
				<table>
					<tr>
						<td>Range From:</td>
						<td>
							<input ng-model="rangeFrom" type="number" max="{{rangeTo}}"
								ng-class="{red: myModalNumber.rangeFrom.$invalid}" />
						</td>
						<td>Range To:</td>
						<td>
							<input ng-model="rangeTo" type="number" min="{{rangeFrom}}" max="{{calculateMax(getRemaining())}}" ng-required="rangeFrom"
								ng-class="{red: myModalNumber.rangeTo.$invalid}" />
						</td>
					</tr>
					<tr>
						<td>Decimal Separator:</td>
						<td>
							<input ng-model="decimal_separator" type="text" maxlength="1" ng-required="decimal_separator" style="text-align: center; max-width: 100px"
								ng-class="{red: myModalNumber.decimal_separator.$invalid}"
								ng-disabled="getUsage() == max_length" />
						</td>
						<td>N. of decimals:</td>
						<td><input ng-model="decimalN" type="number" min="0" max="{{MAX}}"
								ng-disabled="getUsage() == max_length" /></td>
					</tr>
				</table>
			</ng-form>
		</div>
		<div class="modal-footer">
			<span class="pull-left" ng-class="getColor()" ng-model="lunghezza">
				Max Length: {{max_length}} | Usage: {{getUsage()}} | Remaining: {{getRemaining()}}
			</span>
			<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="apply()"
				ng-disabled="myModalNumber.$invalid">
				Apply
			</button>
		</div>
	</div>
</div>
{% endraw %}
