<script type="text/ng-template" id="modalTextFormatHelper.html">
  {% include "../assets/pages/modalTextFormatHelper.html" %}
</script>

<script type="text/ng-template" id="modalNumberFormatHelper.html">
  {% include "../assets/pages/modalNumberFormatHelper.html" %}
</script>

<script type="text/ng-template" id="modalDateFormatHelper.html">
  {% include "../assets/pages/modalDateFormatHelper.html" %}
</script>

<script type="text/ng-template" id="modalInfo.html">
  {% include "../assets/pages/modalInfo.html" %}
</script>

<script type="text/ng-template" id="modalHelp.html">
  {% include "../assets/pages/modalHelp.html" %}
</script>
